<div class="row">
  <div class="col-md-4">
  </div>
  <div class="col-md-4" style="border: 1px solid #E7E7E7; padding: 10px; background-color: #F8F8F8; border-radius: 5px">
    <p class="text-center">Your picture has been deleted</p>
    <p class="text-center"><a  href="/">Go to the main page</a></p>
    <h1><%= @x %></h1>
  </div>
  <div class="col-md-4">
  </div>
</div>
