<div class="row">
  <div class="col-md-12" style="border: 1px solid #E7E7E7; padding: 10px; background-color: #F8F8F8; border-radius: 5px">
    <h1 class="text-center"><%= @caption %></h1>
    <img src="<%= @source %>" class="img-responsive" style="margin-left:auto;margin-right:auto">
    <br>
    <p class="text-center"><a  href="/">Go back</a></p>
  </div>

</div>

